.body.heading {
    font-family:"Lucida Console", "Courier New", monospace;
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
    border-style: double;
    border-width: 5px;
}

.wholepage {
    background-color: peachpuff;
}

.body.list{
    font-style: italic;
    font-weight: bold;
    list-style-type: none;
    line-height: 25px;
}

.body.url{
    color:black;
    text-decoration: underline;
    text-decoration-color:black;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.images{
    width:500px;
    height:500px;
    border-style:groove;
    border-width: 15px;
    border-color:black;
}

.one,
.two,
.three {
    text-align: center;
    float:left;
    padding: 40px;
}

.photo1 {
    width: 500px;
    height:auto;
    border-style:groove;
    border-width:15px ;
    border-color:black;
    
}

.headings-taco{
    color:white;
    background-color:black;
    text-align:center;
    text-decoration:underline;
    text-decoration-color: white;
    font-size:30px;

}

.paragraph1,
.listed-order1{
    background-color:lightcyan;
    font-weight: 400;
    text-decoration: underline;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
